---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Professional Biography for Cody Wilson"
	pubDate={new Date('April 18 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is Cody Wilson. I am an analyst and researcher combining my expertise in U.S. national security policy, political science, and international affairs to tackle pressing societal problems. Over the last twelve years of professional and academic experiences, I have honed my quantitative and qualitative research skills, built extensive analytical experience studying terrorism and the devastating effects of conflict, and cultivated a diverse toolkit of technical proficiencies. Today, I am combining my traditional social science background with skills in OSINT, data analytics and machine learning, and cybersecurity, with the goal of making the world a better, safer place through data, rigorous analysis of physical and cyber threats, and the application of computational solutions.
	</p>

	<p>
		Throughout my career, I have demonstrated a high degree of adaptability and professionalism. I have worked independently, within teams, and as the leader of teams to produce analytical products that consistently exceed client expectations. Outside of my day job, I possess a knack and a passion for learning about technology. Most of my technical knowledge has been self-taught and dates back to my first experience trying to crack my parent’s AOL password as a kid in the 1990s. Since then, I have learned programming languages like R, Python, and SQL; applied social network analysis (SNA), regression modeling, and other analytics techniques in my research; configured custom virtual machines for OSINT investigations; built high-end gaming computers; and had numerous other geeky adventures along the way.
	</p>

	<p>
		I possess a Bachelor of Arts degree in political science from the University of California, Los Angeles (UCLA) and a Master of Science degree in global studies and international relations from Northeastern University. As an undergraduate, I was one of 30 students selected to participate in UCLA's Quarter in Washington program, where I worked as an intern conducting research on nuclear and chemical weapons programs for a Washington, DC non-profit. My time in Washington, DC culminated in the completion of a capstone research project, which focused on the logic of Iran's decision to enter into the nuclear negotiations that would later lead to the Joint Comprehensive Plan of Action (JCPOA). As a graduate student, I focused my studies on building expertise in the study of terrorism and violent extremism. Along the way, I first started learning how to code using the R statistical programming language. I also learned how to analyze geographic conflict data using GIS software, led research teams, and published two major pieces of original research. My work during this period appeared on the Social Science Research Network, Talking About Terrorism, and Inkstick Media.
	</p>

	<p>
		After earning my master's degree, I continued my work researching terrorism and violent extremism while refining my research focus to hone in on  some of the darker sides of technology as it pertained to extremist usage of the Internet. I authored another research paper looking at online recruitment by terrorist groups, served as part of a team of researchers producing profiles of jihadists for an open source dataset, and received an offer to work as a full-time national security analyst for a Washington, DC-based firm. As an analyst, I worked with both the U.S. and Canadian militaries; drafted reports and attack attributions used in federal litigation; helped create and run eight successful wargames; co-authored an in-depth report on modern information operation tactics, techniques, and procedures; co-authored an article published in <em>Lawfare</em>; produced a cybersecurity-focused tabletop exercise; served as a project manager; and much more. More recently, I became a consultant with the same company, where I worked closely with colleagues to facilitate another wargame, led the creation of a series of multiple analytical reports focused on online threats for a client, and subsequently created a technical training regimen to teach other analysts to do the same type of technically-focused work.
	</p>

	<p>
		I have also had the privilege of receiving professional training in open source intelligence techniques, website forensics, digital investigations, and more by the Atlantic Council's Digital Forensic Research Lab (DFRLab) through the Digital Sherlocks training program. I have built a strong technical knowledge base over the years by taking coursework in my free time on R and Python programming, data analytics, data privacy, and cybersecurity. In addition, I am constantly learning about new ways to apply quantitative and qualitative research methodologies to better understand and model complex social systems, such as learning social network analysis to better understand how threat actors conducting information operations interact with legitimate users on social media. As another example of this, in August 2022, I completed the eight courses and capstone project requirements necessary to earn Google's Data Analytics Professional certification. I then went on to complete the three courses in Andrew Ng's industry leading Machine Learning Specialization on Coursera in January 2023.
	</p>

	<p>
		If you are interested in more information about my background and previous work, please check out my full CV <a href="https://wonksecurity.com/cv/" target="_blank" rel="noopener">here</a> or my research <a href="https://wonksecurity.com/research/" title="">here</a>.
	</p>
</Layout>
