---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
				Wonk Security
			</h1>

			<h2>
				Social Science and Technology on a Mission.
			</h2>
			<p>

				<i>Apologies for the mess. Wonk Security is in the middle of a redesign.</i>
			</p>

			<p>
				My name is Cody J. Wilson. I created Wonk Security as a way of helping clients prepare for and mitigate risks from geopolitical, reputational, and digital threats.  
			</p>

			<p>
				I am an intelligence professional and researcher combining my years of knowledge in the social sciences along with an ever-growing technical toolkit to tackle complex issues such as online radicalization, mis/disinformation, and other pressing societal problems. I bring to my work a rather unique background, built as the result of my widely varying interests and erudition. My skillset includes formal education in political science and international relations; professional training in cybersecurity, website forensics, open source intelligence (OSINT) gathering and analysis; and self-study of data analytics, machine learning, and elements of complex systems theory.
			</p>

			<p>
				As a social scientist and policy wonk at heart, I love to dig into the details of complex topics to understand how they work, so if you’re interested in learning more about the intersection of data, technology, and important social issues then feel free to have a look around or connect with me on <a href="https://www.linkedin.com/in/cody-j-wilson/" target="_blank" rel="noopener">LinkedIn</a>. This site plays host to some of my most recent research papers and reports as well as a full curriculum vitae with an up-to-date list of my accomplishments and publications. You can also check out my blog <a href="http://wonksecurity.com/blog" title="here">here</a>.

			</p>

			<p>
				Some of my previous work examines the darker sides of modern technologies and how these technologies can be misused and abused by threat actors. This work includes an examination of online radicalization trends as well as a study on the ways terrorist groups recruit new members online and the impact that online recruitment has on real-world terrorist activity. Other works explore the evolving tactics, techniques, and procedures used by malign actors to conduct online information operations. You can also find analysis delving into the potential unintended consequences that recent anti-censorship legislation could have on efforts to remove antisemitic or terrorist content from social media platforms. My most recent work explores the feasibility of using social network analysis to detect information operations on Twitter.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
